canvas_binary_host_mirror=https://cdn.npmmirror.com/binaries/canvas
chromedriver_cdnurl=https://cdn.npmmirror.com/binaries/chromedriver
CHROMEDRIVER_CDNURL=https://cdn.npmmirror.com/binaries/chromedriver
chromedriver-cdnurl=https://cdn.npmmirror.com/binaries/chromedriver
couchbase-binary-host-mirror=https://cdn.npmmirror.com/binaries/couchbase/v{version}
debug-binary-host-mirror=https://cdn.npmmirror.com/binaries/node-inspector
ELECTRON_BUILDER_BINARIES_MIRROR=https://cdn.npmmirror.com/binaries/electron-builder-binaries/
ELECTRON_MIRROR=https://cdn.npmmirror.com/binaries/electron/
electron-mirror=https://cdn.npmmirror.com/binaries/electron/
flow-bin-binary-host-mirror=https://cdn.npmmirror.com/binaries/flow/v
fse-binary-host-mirror=https://cdn.npmmirror.com/binaries/fsevents
fuse-bindings-binary-host-mirror=https://cdn.npmmirror.com/binaries/fuse-bindings/v{version}
git4win-mirror=https://cdn.npmmirror.com/binaries/git-for-windows
gl-binary-host-mirror=https://cdn.npmmirror.com/binaries/gl/v{version}
hackrf-binary-host-mirror=https://cdn.npmmirror.com/binaries/hackrf/v{version}
leveldown-binary-host-mirror=https://cdn.npmmirror.com/binaries/leveldown/v{version}
leveldown-hyper-binary-host-mirror=https://cdn.npmmirror.com/binaries/leveldown-hyper/v{version}
mknod-binary-host-mirror=https://cdn.npmmirror.com/binaries/mknod/v{version}
node-tk5-binary-host-mirror=https://cdn.npmmirror.com/binaries/node-tk5/v{version}
nodegit-binary-host-mirror=https://cdn.npmmirror.com/binaries/nodegit/v{version}/
NVM_NODEJS_ORG_MIRROR=https://cdn.npmmirror.com/binaries/node
operadriver-cdnurl=https://cdn.npmmirror.com/binaries/operadriver
OPERADRIVER=https://cdn.npmmirror.com/binaries/operadriver
phantomjs_cdnurl=https://cdn.npmmirror.com/binaries/phantomjs
phantomjs-cdnurl=https://cdn.npmmirror.com/binaries/phantomjs
profiler-binary-host-mirror=https://cdn.npmmirror.com/binaries/node-inspector/
PYTHON_MIRROR=https://cdn.npmmirror.com/binaries/python
python-mirror=https://cdn.npmmirror.com/binaries/python
rabin-binary-host-mirror=https://cdn.npmmirror.com/binaries/rabin/v{version}
registry=https://registry.npmmirror.com/
sass_binary_site=https://cdn.npmmirror.com/binaries/node-sass
sass-binary-site=https://cdn.npmmirror.com/binaries/node-sass
sharp_binary_host=https://cdn.npmmirror.com/binaries/sharp
sharp_libvips_binary_host=https://cdn.npmmirror.com/binaries/sharp-libvips
sodium-prebuilt-binary-host-mirror=https://cdn.npmmirror.com/binaries/sodium-prebuilt/v{version}
sqlite3-binary-site=https://cdn.npmmirror.com/binaries/sqlite3
utf-8-validate-binary-host-mirror=https://cdn.npmmirror.com/binaries/utf-8-validate/v{version}
utp-native-binary-host-mirror=https://cdn.npmmirror.com/binaries/utp-native/v{version}
zmq-prebuilt-binary-host-mirror=https://cdn.npmmirror.com/binaries/zmq-prebuilt/v{version}
@tesoon:registry=https://npmjs.tesoon.com/
home=https://npmmirror.com